/fish/.config/fish/fish_variables
/git/dot-config/git/heroku
/git/dot-config/git/personal
/git/dot-config/git/salesforce
/fish/dot-config/fish/fish_variables
/ssh/dot-ssh/id_rsa*
/ssh/dot-ssh/id_dsa*
/ssh/dot-ssh/known_hosts
/offlineimap/dot-offlineimaprc
